 .u-section-1 {
  background-image: url("images/PurpleBeachandCoconutTreesDesktopWallpaper2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 467px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 34.74% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 81.49% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 622px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 308px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 458px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.125rem;
  width: 160px;
  margin: 90px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 3.125rem;
  width: 780px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 36px 149px 60px 211px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    width: 780px;
    margin-left: 111px;
    margin-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
} .u-section-3 {
  background-image: url("images/g.jpg");
  background-position: 50% 50%;
  min-height: 658px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 658px;
  pointer-events: auto;
  background-image: url("images/PurpleBeachandCoconutTreesDesktopWallpaper1.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 658px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  margin: 135px 0 0;
}

.u-section-3 .u-line-1 {
  height: 9px;
  transform-origin: left center;
  border-style: solid;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 428px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-image-1 {
    min-height: 543px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 301px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-image-1 {
    min-height: 416px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.125rem;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 678px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-image-1 {
    min-height: 693px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 421px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-image-1 {
    min-height: 436px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 32px;
    margin-left: 20px;
  }

  .u-section-3 .u-line-1 {
    height: 10px;
    transform-origin: left center 0px;
    width: 390px;
    margin-top: 0;
    margin-right: -10px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 20px;
  }
} .u-section-4 {
  background-image: url("images/PurpleBeachandCoconutTreesDesktopWallpaper.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 704px;
}

.u-section-4 .u-shape-1 {
  width: 948px;
  height: 228px;
  background-image: none;
  margin: 246px auto 0 40px;
}

.u-section-4 .u-group-1 {
  width: 734px;
  background-image: none;
  height: auto;
  min-height: 584px;
  margin: -414px auto 60px 157px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 200;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-4 .u-form-1 {
  height: 427px;
  width: 674px;
  margin: 14px auto 0;
}

.u-section-4 .u-label-1 {
  font-weight: 700;
}

.u-section-4 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-4 .u-label-2 {
  font-weight: 700;
}

.u-section-4 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-4 .u-form-group-3 {
  margin-left: 0;
}

.u-section-4 .u-label-3 {
  font-weight: 700;
}

.u-section-4 .u-input-3 {
  font-size: 1.25rem;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -19px auto 0 0;
}

.u-section-4 .u-text-2 {
  text-align: left;
  margin: 6px auto 0 0;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -841px auto 0 -870px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -841px auto 0 -870px;
}

.u-section-4 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -827px auto 0 -770px;
}

.u-section-4 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: -844px auto 0 -770px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-4 .u-shape-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-4 .u-shape-1 {
    width: 720px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-4 .u-form-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-4 .u-shape-1 {
    width: 540px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-form-1 {
    width: 520px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 39px;
    margin-left: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -402px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-form-1 {
    width: 320px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 58px;
    margin-left: 14px;
  }
}